.about_section{
  width: 80%;
  height: 100vh;
  z-index: 3;
  margin-top: -8%;
    background-image: url(../../Assets/about.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about_div{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 320px;
  padding-left: 100px;
}
.about_h{
    font-family: var(--font_1);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    /* text-align: center; */
    color: var(--primary_color);
}
.about_p{
  width: 80%;
  font-family: var(--font_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin: 6% 0;
    color: var(--primary_color);
}

@media (max-width: 768px) {
  .about_section {
    width: 100%;
    background-size: contain;
    background-position: top;
    height: auto;
    padding: 4rem 1rem;
        background-image: url(../../Assets/res.svg);
  }
  .about_div {
    width: 100%;
    padding: 2rem 1rem;
    align-items: center;
    text-align: center;
  }
  .about_h {
    font-size: 24px;
  }
  .about_p {
    width: 100%;
    font-size: 16px;
  }
}