.mask1{
    background-image: url(../../Assets/mask1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: aqua; */
    width: 1521px;
    height: 145vh;
}
/* .element {
    background-image: url(../../Assets/policy.png);
    background-repeat: no-repeat;
    background-size: cover;
  mask: url(#myMaskID);
} */
.mask1_h{
    margin: 46% 0 0 60%;
    color: var(--main_color);
}
