.scroll-stack-scroller {
  position: relative;
  width: 86%;
  height: auto;  
  overflow: visible;
  overflow-x: visible;
  overscroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
}

.scroll-stack-inner {
  padding: 8vh 5rem 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-end {
  width: 80%;
  height: 1px;
}

