@import url('https://fonts.cdnfonts.com/css/azonix');
:root{
    --h1: 4vw;
    --h2: 2.2vw;
    --h3: 1.8vw;
    --p: 1.4vw;
    --font_1: 'Azonix', sans-serif;
    --font_2: 'Poppins', sans-serif;
    --main_color: #121180;
    --primary_color: #F9F9F9;
    --secondry_color: #2952D8;
    --accent_color: #FA921C;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: var(--primary_color);
  }
  .body_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero{
    width: 100%;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 10% 60%, 0 80%);
    background-image: linear-gradient(242deg, #2952D8 -0.42%, #121180 50.54%, #060528 101.33%);
    background-color: #121180;
    background-image: url(./../Assets/pattern.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
  }
  .hero_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    /* background-color: rgb(220, 245, 228); */
  }
  .hero_h{
    font-family: var(--font_1);
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    color: var(--primary_color);
  }
  .hero_imgs{
    width: 40%;
    height: 1000px;
    z-index: 2;
    /* background-color: aquamarine; */
  }
  .hero_img{
    top: 0;
    left: 0;
    z-index: 1;
  }
  .speed_img{
    top: 0;
    left: 0;
    opacity: 0.8;
    mix-blend-mode: lighten;
    z-index: -1;
  }