.mask_policy{
    width: 1521px;
    height: 145vh;
    /* clip-path: url(../../Assets/mask_1.svg); */
    background-image: url(../Assets/policy_mask.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: aqua; */
}
/* .element {
    background-image: url(../../Assets/policy.png);
    background-repeat: no-repeat;
    background-size: cover;
  mask: url(#myMaskID);
} */
.mask_policy_h{
    margin: 46% 0 0 60%;
    color: var(--main_color);
}
