.input_div{

}
.log_input{
    /* width: ; */
    height: 48px;
    padding: 1% 4%;
    display: flex;
    justify-content: start;
    align-items: start;
    align-self: stretch;
    border-radius: 7.626px;
    border: 1px solid rgba(249, 249, 249, 0.65);
    background: rgba(151, 151, 151, 0.32);
    font-family: var(--font_2);
    color: var(--primary_color);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 8px;
    margin: 1% 0;
}
.icon{
    width: 20px;
    height: 20px;
    background-color: var(--primary_color);
}