.contact_info{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6%;
    margin: 2% 0;
    /* background-color: aqua; */
}
.contact_icon{
    display: flex;
width: 48px;
height: 48px;
padding: 2%;
justify-content: center;
align-items: center;
border-radius: 16px;
background: var(--Deep-Saffron, #FA921C);
}
.icon_h{
    margin: 0;
    font-family: var(--font_2);
    color: var(--main_color);
    font-weight: bold;
    font-size: 16px;
}
.icon_p{
    margin: 0;
    font-size: 18px;
    font-family: var(--font_2);
    color: var(--main_color);
}
