.cta_div1{
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin: 0;
padding: 0;
text-decoration: none;
}
.cta_temp1{
width: 200px;
height: 6vh;
font-family: var(--font_2);
font-size: 20px;
text-align: center;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
color: var(--primary_color);
border-radius: 8PX;
background-color: var(--secondry_color);
}