.scroll-stack-card {
  will-change: transform;
  transform-origin: top center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 20rem;
  width: 100%;
  padding: 3rem;
  border-radius: 40px;
  position: relative;
  background: var(--main_color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
 
.scroll-stack-card > * {
  pointer-events: auto;
}