.flex{
    display: flex;
    justify-content: center;
    align-items: start;
}
.div_temp1{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* gap: 3vh; */
    margin: 0 4%;
    /* background-color: #54F1E9; */
}
.stack_img{
    width: 28%;
}
