.flex {
  display: flex;
  justify-content: center;
  align-items: start;
}
 
.div_temp1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 4%;
}
 
.stack_img {
  width: 28%;
}
